<div class="container">
    <button class="novo-todo mat-elevation-z8" mat-stroked-button color="primary"> New To-do</button>
        <div class="content">
            <mat-card class="mat-elevation-z8" >
                <p>Data para Finalizar:</p>
                <mat-card-header>
                <mat-card-title>Todo</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>

                <div class="actions">
                    <button mat-mini-fab color="primary">
                        <mat-icon>done</mat-icon>
                    </button>
            
                    <button mat-mini-fab color="accent">
                        <mat-icon>edit</mat-icon>
                    </button>
            
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>    
        </div>
</div>